body {
    background-image: url("pk7/bg.png");
    background-attachment: fixed;
    background-repeat: repeat;
}

.container * {
    position: fixed;
    text-align: left;
    align-items: center;
    margin-left: 330px;
    margin-top: 110px;
}

.yt {
    display: inline-block;
    position: relative;
    margin-top: 60px;
    margin-left: 50px;
}

.banderole {
    position: absolute;
    margin-left: 650px;
    margin-top: 328px;
}